@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

        /* ----------------------------
                Common Section Design
        -------------------------------*/
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    border: 0px;
    background-color: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

        /* ----------------------------
                Header Design
        -------------------------------*/
header{
    background-color: rgba(255, 144, 14, 0.1);
}

                /* Header and navigation design */
.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 102px;
    margin-left: 228px;
    margin-right: 230px;
}

.header-top {
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
}

nav li {

    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

                /* Header body and image design */
.header-description {
    width: 862px;
    height: 225px;
    margin: 0px 529px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-description h2 {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.header-description p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

header .btn-primary{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 870px;
}
.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}

        /* ----------------------------
                Main Section Design
        -------------------------------*/

                /* About Section Design */
.about{
    text-align: center;
    margin-left: 301px;
    margin-right: 301px;
    margin-bottom: 200px;
    height: 129px;
    margin-top: 80px;
}

.about p{
        color: #727272;
        margin-bottom: 200px;
        transition: background-color , padding  0.5s;
}
.about h1{
    margin-bottom: 24px;
    font-size: 65px;
    cursor: pointer;
}
.about:hover p{
    padding: 30px;    
    background-color: rgba(255, 144, 14, 0.1);   
}


                /* Feature List Design */
.features-list{
    display: flex;
    margin-top: 85px;
    margin-left: 301px;
}
.grid-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

}
.feature-description{
    width: 537px;
    height: 304px;
    margin-left: 73px;
    margin-top: 287px;
}

.feature-description h2{
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 45px;
}

.feature-description p{
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

                /* Feature With Image Part Design */
.features{
    margin: 130px 240px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.feature-text{
    margin-right: 54px;
}
.feature-text h1{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.feature-text p{
    margin-bottom: 30px;
    color: #727272;
}

.feature-card-element{
    width: 586px;
    margin-bottom: 20px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-card-element h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-card-element p{
    font-size: 16px;
    font-weight: 400;
}

.feature-imgbtn .btn-primary{
    position: absolute;
    left: 950px;
    top: 3355px;
    width: 342px;
    height: 200px;
}

.feature-imgbtn .btn-primary h1{
    font-weight: 700;
    font-size: 65px;
}

.feature-imgbtn .btn-primary h4{
    font-weight: 500;
    font-size: 25px;
}

                /* Some Facts Design */
.some-facts {
    margin-left: 240px;
}

.some-facts h2{
    font-weight: 700;
font-size: 45px;
margin-bottom: 24px;
}

.some-facts>p{
    width: 542px;
    height: 52px;
    color: #727272;
    margin-bottom: 100.08px;
}

.grid-cards{
    margin-left: 50.08px;
    margin-bottom: 180.08;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card-item{
    height: 241.83px;
    width: 241.83px;
    padding: 45px 36px 0px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.card-item p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Card Item Animation */
.card-item{
    transition: transform 0.8s;
    transform-origin: center;
}
.card-item:hover{
    transform: rotate(720deg);
}

                /* Sponsors Section Design */

.sponsors{
    margin-top: 180.08px;
    margin-left: 240px;
}

.sponsor-text{
    margin: 0px  450px;
    text-align: center;
}

.sponsor-text h1{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
}

.sponsor-text p{
    color: #727272;
    margin-bottom: 50px;
}

.sponsor-icons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 130px;
}

.sponsor-icons img{
    filter: grayscale(100%);
}


        /* ----------------------------
                Footer Section Design
        -------------------------------*/
footer{
    width: 1440px;
    height: 100px;
    margin: 0px 240px 216px;
    background: #FFF4E7;
    border-radius: 8px;
}

footer p{
    padding: 40px 210px;
    text-align: center;
}


        /* ----------------------------
                Making Responsive
        -------------------------------*/

@media screen and (max-width:576px) {
    header{
        all: unset;
    }
    header{
        width: 100%;
    }

    header .header-top{
        margin-left: 240px;
        display: grid;
        grid-template-rows: repeat(2,1fr);
    }
    nav ul{
        display: grid;
        flex-direction: row;
    }
    .header-description{
        margin-left: 0px;
        text-align: left;
    }
    .header-description h2{
        margin-left: 240px;
        text-align: left;
    }

    .header-description p{
        text-align: left;
    }
    header .btn-primary{
        margin-left: 240px;
        
     }

    .header-img{
        display: flex;
        justify-content: left;
        align-items: left;
        padding-bottom: 45px;
    }
    .about{
        all: unset;
    }

    .about h1,p{
        margin-left: 240px;
    }

    .features-list{
        all: unset;
    }

    .grid-img{
        display: block;
        margin-bottom: 0px;
        margin-left: 240px;
    }

    .feature-description h2,p{
        margin-top: 0px;
        margin-left: 200px;
    }
    .feature-description .btn-primary{
        margin-left: 200px;
    }

    .features{
        all: unset;
    }

    .feature-text{
        margin-top: 200px;
        margin-left: 240px;
    }

    .feature-text p{
        margin-left: -5px;
    }

    .feature-cards{
        margin-left: -10px;
    }

    .feature-imgbtn{
        margin-left: 240px;
        margin-bottom: 200px;
    }

    .feature-imgbtn .btn-primary{
        position: absolute;
        left: 235px;
        top: 6470px;
    }

    .some-facts{
        all: unset;
    }

    .some-facts h2{
        margin-left: 440px;
    }
    .some-facts p{
        margin-left: 440px;
    }

    .grid-cards{
       display: block;
       margin-left: 540px;
    }

    .card-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }
    .card-item h2{
        margin-left: -20px;
    }

    .card-item p{
        margin-left: -20px;
    }

    .sponsors{
        all: unset;
    }

    .sponsor-text{
        margin-left: 340px;
    }

    .sponsor-text p{
        width: 500px;
        margin-left: 5px;
        text-align: left;
    }

    .sponsor-icons{
        display: flex;
        flex-direction: column;
    }

    .sponsor-icons img{
        height: 80px;
        margin-left: 340px;
        padding-bottom: 50px;
    }

    footer{
        all:unset;
    }

    footer p{
        background-color: antiquewhite;
        margin: 0px 540px;
        width: fit-content;
    }

}